<form method="post" action="{{ path('app_ligne_delete', {'id': ligne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
