{% extends 'base.html.twig' %}

{% block title %}New Ligne{% endblock %}

{% block body %}
    <h1>Create new Ligne</h1>

    {{ include('ligne/_form.html.twig') }}

    <a href="{{ path('app_ligne_index') }}">back to list</a>
{% endblock %}
