{% extends 'base.html.twig' %}

{% block title %}Edit Iteneraire{% endblock %}

{% block body %}
    <h1>Edit Iteneraire</h1>

    {{ include('iteneraire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_iteneraire_index') }}">back to list</a>

    {{ include('iteneraire/_delete_form.html.twig') }}
{% endblock %}
