{% extends 'base.html.twig' %}

{% block body %}
{% block title %}Mon profile{% endblock %}
<div class="row" style="text-align: center;align-items: center;justify-content: center;margin: 100px 500px 30px;">    

 {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(form) }}    
    <button type="submit" id="submit-btn" class="btn btn-primary">Changer</button>
    {{ form_end(form) }}
{% endblock %}