


    <h1>Informations sur le moyen de transport</h1>

    <p>Nom: {{ moyenTransport.id }}</p>
    <p>Type: {{ moyenTransport.typeVehicule}}</p>

    <img src="{{ image_path('logo.jpg') }}" alt="Image du moyen de transport">
