{% extends 'base.html.twig' %}

{% block title %}create user{% endblock %}

{% block body %}
    <div class="row" style="text-align: center;align-items: center;justify-content: center;margin: 100px 500px 100px;">
    <h1>nouveau utilisateur</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ include('user/_form.html.twig') }}
       
        <a class="btn btn-outline-info" href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
